.ant-collapse-content-box.ant-collapse-content-box.ant-collapse-content-box {
  padding: 2px;
}

.ant-descriptions-item-content.ant-descriptions-item-content.ant-descriptions-item-content {
  padding: 8px 4px;
}

.ant-descriptions-item-content {
  white-space: pre-wrap;
}

.ant-descriptions-bordered
  .ant-descriptions-view.ant-descriptions-view
  > table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}
